<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/styles/DangNhap.css">
<link rel="stylesheet" href="/styles/indexsing.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

<head>
</head>

<body style="background-image: url(/images/ná»n.jpg);">
    <div class="center">
        <h2>Login</h2>
        <form action="/user/login" method="post" onsubmit="return login()">
            <div class="label">Username <br>
                <div class="mosty">
                    <i class="fas fa-user mosty__icon"></i>
                    <% if(typeof email !=="undefined" ) { %>
                        <input id="username" name="name" class="input" type="text" placeholder="Type your username" value="<%= email %>" onkeyup="checkValiDateUserName()">
                        <% } else { %>
                            <input id="username" name="name" class="input" type="text" placeholder="Type your username" onkeyup="checkValiDateUserName()">
                            <% } %>
                </div>
                <div class="error" id="error_UserName">
                    <% if(typeof erroruser !=="undefined" ) { %>
                        <%= erroruser %>
                            <% } %>
                </div>
            </div>

            <div class="label">Password <br>
                <div class="mosty">
                    <i class="fas fa-lock mosty__icon"></i>
                    <input type="password" name="password" id="password" class="input" placeholder="Type your password" onkeyup="checkValiDatePassword()">
                </div>
                <div class="error" id="error_password">
                    <% if(typeof errorpass !=="undefined" ) { %>
                        <%= errorpass %>
                            <% } %>
                </div>

                <div class="forgot">
                    <p>Forgot password?</p>
                </div>
            </div>
            <div class="d-fex justify-content">
                <div class="login">
                    <button class="submit" type="submit" onclick="login()">
                        LOGIN
                    </button>
                </div>
            </div>
        </form>
        <div class="d-fex justify-content">
            <div class="icon">
                <div class="icon-fb">
                    <i class="fab fa-facebook-f color"></i>
                </div>
                <div class="icon-tw">
                    <i class="fab fa-twitter color"></i>
                </div>
                <div class="icon-gg">
                    <i class="fab fa-google color"></i>
                </div>
            </div>
            <div class="Sign">
                <a href="/user/signUp" class="sing-up">SING UP</a>
            </div>

        </div>
    </div>
</body>
<script src="/js/DangNhap.js">
</script>

</html>