<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/adminShow.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/showProduct.css">
    <link rel="stylesheet" href="/styles/navi.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="container_body">
        <div class="pt-1">
            <div class="navi_admin pe-5">
                <div class="management p-2 d-flex align-items-center">
                    Product management
                </div>
                <div class="d-flex align-items-center">
                    <div class="p-2">
                        <i class="fas fa-flag icon_notece"></i>
                    </div>
                    <div class="name_Admin p-2">name</div>
                    <div class="avata_Admin ">
                        <img src="/images/anh.jpg" alt="anh" width="65px" height="65px" style=" border: 1px solid rgba(100, 100, 111, 0.2); box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex ">
            <div class="navi_management">

                <div class="list_management">
                    <div class="p-1 list_a">
                        <a href="/product/show" style="text-decoration: none; color: white; font-size: 19px;">
                        Product
                    </a>

                    </div>
                    <div class=" p-1 list_product">
                        <a href="/detail/show" style="text-decoration: none; color: white; font-size: 19px;">
                        Show detail
                    </a>
                    </div>
                    <div class=" p-1 list_a">
                        <a href="/product/colorShow" style="text-decoration: none; color: white; font-size: 19px;">
                        Show color
                    </a>
                    </div>
                </div>
            </div>
            <div class="p-4" style="width: 100vw; height: 100vh; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 100%;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="">STT</th>
                            <th scope="col">idProduct</th>
                            <th scope="col">name_detail</th>
                            <th scope="col">value_detail</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% product.forEach(function(p, index){ %>
                            <tr>
                                <td class="table-primary">
                                    <%= index + 1 %>
                                </td>
                                <td class="table-primary">
                                    <%= p.id_product %>
                                </td>
                                <td class="table-primary">
                                    <%= p.name_detail %>
                                </td>
                                <td class="table-primary">
                                    <%= p.value_detail %>
                                </td>

                                <% }); %>

                    </tbody>
                </table>
                <div class="naviPage ">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script>
</script>

</html>