.navi_admin {
    display: flex;
    width: 100vw;
    /* min-width: 600px; */
    height: 80px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: space-between;
}

.icon_notece {
    color: red;
    text-align: center;
    padding: 20px 20px;
    font-size: 25px;
}

.name_Admin {
    font-size: 25px;
}

.list_management {
    align-items: center;
    padding: 10px 0px;
}

.navi_management {
    padding: 10px 0px;
    background-color: #d27e1ed1;
    min-height: 100vh;
    min-width: 240px;
}

.management {
    color: white;
    font-size: 22px;
    min-width: 240px;
    background-color: #d27e1ed1;
    border-bottom: 1px solid white;
}

.a_managrement {
    text-decoration: none;
    color: white;
}

.list_a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    text-align: center;
}

.list_product {
    height: 45px;
    background-color: #198754;
    border-radius: 5px;
    text-align: center;
}

.container_body {
    overflow-x: hidden;
}