* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

.image_logo {
    width: 100px;
    height: 80px;
    border-radius: 100%;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    border-bottom: 1px solid red;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 650px;
    outline: none;
    padding-left: 5px;
    border-right: none;
    padding: 8px 7px;
    border: 1px solid #c7c7c7;
    border-right: none;
}

.search {
    position: relative;
}

.icon_search {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 11px;
    background-color: chocolate;
}

.color_icon {
    color: white;
}

.icon {
    display: flex;
    align-items: center;
}

.cart {
    position: relative;
    margin: 0px 11px;
}

.icon_cart {
    font-size: 30px;
    margin-right: 20px;
    color: chocolate;
}

.image {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid #0000001f;
}

.amount {
    background-color: #8d8078;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    top: -7px;
    right: 7px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* foter */

.footer {
    display: flex;
}

.information {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3px;
    background-color: #d2691edb;
    padding: 10px 70px;
}

.name-information {
    margin-top: 20px;
    color: white;
}

.social-netword {
    width: 40%;
    background-color: #d2691edb;
    padding: 10px 30px;
}

.center-icon {
    margin: 10px 2px;
    display: flex;
}

.facebook-icon {
    background-color: #496da7;
}

.twitter-icon {
    background-color: #31ddf3;
}

.google-icon {
    background-color: #d44136;
}

.icon-footer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.wifi-icon {
    background-color: #dd4b3fd4;
}

.youtobe-icon {
    background-color: red;
}

.email-icon {
    background-color: #e54940e0;
}

.social-icon__corlor {
    color: white;
}

/* contener */

.contener {
    display: flex;
    padding: 10px 70px;
}

.detail-image {
    width: 40%;
}

.image__product {
    width: 100%;
}

.detail-product {
    width: 60%;
    border-left:  1px solid rgba(185, 130, 130, 0.212);
    padding: 5px 20px;
}

.statistic {
    display: flex;
}

.star {
    margin: 5px 15px;
    color: #d2691edb;
    width: 130px;
    border-right: 1px solid rgba(97, 87, 87, 0.466);
}

.evaluate {
    margin: 5px 15px;
    width: 100px;
    border-right: 1px solid rgba(97, 87, 87, 0.466);
}

.soid {
    margin: 5px 15px;
}

.price {
    margin: 20px 10px;
    font-size: 30px;
    color: #d2691edb;
}

.amount-product {
    display: flex;
    margin:20px 10px;
    align-items: center;
}

.tile {
    display: flex;
    margin: 0 50px;
}

.minus {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(97, 87, 87, 0.466);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.count {
    width: 35px;
    height: 25px;
    border-top: 1px solid rgba(97, 87, 87, 0.466);
    border-bottom: 1px solid rgba(97, 87, 87, 0.466);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy{
    display: flex;
}
.buy-more{
    margin: 20px  15px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: 1px solid #d2691edb;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d89cc450;
    color: #d2691edb;
}
.buy-buy{
    margin: 20px 15px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #d2691edb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}