* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
 }
 

.image_logo{
    width: 100px;
    height: 80px;
    border-radius: 100%;
}

.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    border-bottom: 1px solid red;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    width: 650px;
    outline: none;
    padding-left: 5px;
    border-right: none;
    padding: 8px 7px ;
    border: 1px solid #c7c7c7;
    border-right: none;

}
.search{
    position: relative;
}
.icon_search{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 11px;
    background-color: chocolate;
}
.color_icon{
color: white;
}
.icon{
    display: flex;
    align-items: center;
}
.cart{
    position: relative;
    margin: 0px 11px;
}
.icon_cart{
    font-size: 30px;
    margin-right:20px;
    color: chocolate;
}
.image{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid #0000001f;
}
.amount{
    background-color: #8c7e75;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    top: -7px;
    right: 7px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content{
    display: flex;
    padding: 20px 70px;
}
.image_advertisemen{
    width: 60%;
    height: 305px;
    margin: 0px 5px;
}
.advertisement{
    width: 100%;
    height: 100%;
}
.content-nature{
    width: 40%;
    height: 150px;
}
.image_nature{
    width: 100%;
    height: 150px;
}
.image_waterfall{
    width: 100%;
    height: 150px;
}
.category{
    display: flex;
    margin: 10px 70px;
}
.items{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.image_items{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.id{
 margin: 5px 0px;
}
.product{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 70px;
}
.iphone:last-child {
    width: 20%;
    height: 100%;
    border-right: 1px solid #f5e9e1 ;
}
.iphone{
    width: 20%;
    height: 100%;
    border: 1px solid #f5e9e1 ;
    border-right: none;
    margin-bottom: 10px;
    padding: 0px 10px;
}
.iphone-id__image{
    width: 100%;
    height: 200px;
    
}
.iphone-id__image:hover{
    padding-bottom: 10px;
    /* top: -5px; */

}
.name-product{
    margin-top: 5px;

}
.price-product{
    margin-top: 5px;
    color:red;
}
.footer{
    display: flex;
}
.information{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3px;
    background-color: #d2691edb;
    padding: 10px 70px;
}
.name-information{
    margin-top: 20px;
    color: white;
}
.social-netword{
    width: 40%;
    background-color: #d2691edb;
    padding: 10px 30px;
}
.center-icon{
    margin: 10px 2px;
    display: flex;
}
.facebook-icon{
    background-color: #496da7;
}
.twitter-icon{
    background-color: #31ddf3;
}
.google-icon{
    background-color:#d44136;
}

.icon-footer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.wifi-icon{
    background-color: #dd4b3fd4;
}
.youtobe-icon{
    background-color: red;
}
.email-icon{
    background-color: #e54940e0;
}
.social-icon__corlor{
    color: white;
}
.line{
    border-top: 1px solid #8c7e75  ;
    margin:  20px 70px;
}
.name-line{
    font-size: 20px;
}
.price-product{
margin-bottom: 15px;
}
